<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://demo.redhat.com" target="_blank">
        <img src="{{uiRootPath}}/img/demo.jpg" height="60px" alt="Red Hat Demo Platform">
      </a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}" target="_blank">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About Workshop</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="index.html">Getting Started</a>
            <a class="navbar-item" href="02-agenda.html">Agenda</a>
            <a class="navbar-item" href="03-introduction.html">Workshop Introduction</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Hands-On</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="04-solution-1.html">Understand the customer sentiments and challenges</a>
            <a class="navbar-item" href="05-solution-2.html">Addressing Challenge</a>
            <a class="navbar-item" href="06-solution-3.html">Demo RedHat OpenShift AI</a>
            <a class="navbar-item" href="07-challenge.html">Challenge Lab (Optional)</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Product Pages</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://developers.redhat.com/learn?ref=webconsole" target="_blank">Red Hat OpenShift</a>
            <a class="navbar-item" href="https://www.redhat.com/en/technologies/cloud-computing/openshift/openshift-ai" target="_blank">Red Hat OpenShift AI</a>
            <a class="navbar-item" href="https://developers.redhat.com/topics/kafka-kubernetes" target="_blank">Apache Kafka on Kubernetes</a>
            <a class="navbar-item" href="https://www.redhat.com/en/resources/amq-streams-datasheet" target="_blank">Red Hat AMQ Streams</a>
            <a class="navbar-item" href="https://access.redhat.com/products/quarkus" target="_blank">Quarkus</a>
            <a class="navbar-item" href="https://www.influxdata.com/" target="_blank">InfluxDB</a>
            <a class="navbar-item" href="https://helm.sh/" target="_blank">Helm</a>
            <a class="navbar-item" href="https://www.postgresql.org/" target="_blank">Postgresql</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Articles</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://redhat-solution-patterns.github.io/solution-pattern-enhancing-applications/solution-pattern-enhancing-applications/main/index.html" target="_blank">Sentiment Analysis Solution Pattern</a>
            <a class="navbar-item" href="https://medium.com/@ritz.shah/gitops-ci-cd-mlops-how-it-all-comes-together-for-an-ai-ml-developer-a9d15e43dccf" target="_blank">MLOps</a>
            <a class="navbar-item" href="https://developers.redhat.com/articles/2023/10/11/build-event-driven-data-pipelines-business-intelligence" target="_blank">Build event-driven data pipelines for business intelligence</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Videos</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://youtube.com/watch?v=6msow8ZMn9Y" target="_blank">MLOps Video</a>
            <a class="navbar-item" href="https://drive.google.com/file/d/12feDPcRXnWcYyW9t9dZkjm6-OG6WG2y1/view?usp=drive_link" target="_blank">Sentiment Analysis and MLOps demo presentation video</a>
          </div>
        </div>
        <a class="navbar-item" href="#">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</a>


      </div>
    </div>
  </nav>
</header>
